@model UDemyAuth.ViewModels.PasswordResetViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Sifre Yenilemek</h4>
<hr />


@if (ViewBag.status == "success")
{
    <div class="alert alert-info">Mailinize Tesdiqleme Linki Gonderildi</div>

}
else
{
    <div class="alert alert-info col-md-4 offset-md-4">
        Sifre Deyismek ucun Email girmelisen
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mt-4">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}



